<%= render "application_partials/navbar" %>
<div class="container">
  <div class="row header-row">
    <div class="col-10">
      <!--  Rendering view for search -->
      <div class="table-responsive-sm">
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Meow!</strong> <%= flash[:notice] %>
          </div>
        <% end %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Search for food item</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <nav class="navbar navbar-light bg-light">
                  <form class="form-inline" action="<%= search_path %>" method="get" remote = true>
                    <%= text_field_tag(:search, params[:search], placeholder: "Search food item", autofocus: true, class: "form-control mr-sm-2", id: 'search-food-item', ) %>
                    <%= button_tag(type: :submit, class: 'btn btn-outline-success my-2 my-sm-0') do %>
                    Search
                    <% end %>
                  </form>
                </nav>
              </td>
              <th scope="col">Amount</th>
              <th scope="col" class="card-protein">Protein</th>
              <th scope="col" class="card-fat">Fat</th>
              <th scope="col" class="card-carbs">Carbs</th>
            </tr>
            <tr id="searchForm">
              <%= render "application_partials/search_results" %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h1 style="text-align: center">Weekly Meal Cards</h1>
  <div class="row justify-content-md-center" style="padding-top: 50px;">
    <!-- No Carb column starts here -->
    <div class="col h-100 d-inline-block odd-col daily-lane rounded" id="noCarbCol">
      <div class="meal-card-header">
        <h2 class="display-3" style="text-align: center">No Carb</h2>
        <%= form_tag '/new_meal_card', method: :post, remote: true do %>
          <%= hidden_field_tag "carbs", "no-carbs" %>
          <%= submit_tag "+ New Meal", class: "btn btn-success new-meal-button" %>
        <% end %>
      </div>
      <%= render 'application_partials/daily_meal_card' %>
      <div class="nocarb">

      </div>
    </div>
    <!-- High Carb column starts here  -->
    <div class="col daily-lane rounded" style="background-color: #c5e0d2" id="highCarbCol">
      <div class="meal-card-header">
        <h2 class="display-3" style="text-align: center">High Carb</h2>
        <%= form_tag '/new_meal_card', method: :post, remote: true do %>
          <%= hidden_field_tag "carbs", "high-carbs" %>
          <%= submit_tag "+ New Meal", class: "btn btn-success new-meal-button" %>
        <% end %>
      </div>
      <%= render 'application_partials/daily_meal_card' %>
      <div class="highcarb">

      </div>
    </div>
    <!-- Low Carb column starts here -->
    <div class="col h-100 d-inline-block odd-col daily-lane rounded" id="lowCarbCol">
      <div class="meal-card-header">
        <h2 class="display-3" style="text-align: center">Low Carb</h2>
        <%= form_tag '/new_meal_card', method: :post, remote: true do %>
          <%= hidden_field_tag "carbs", "low-carbs" %>
          <%= submit_tag "+ New Meal", class: "btn btn-success new-meal-button" %>
        <% end %>
      </div>
      <%= render 'application_partials/daily_meal_card' %>
      <div class="lowcarb">

      </div>
    </div>
  </div>
</div>
