<div class="container-fluid">
  <div class="row header-row">
    <div class="col-8">
      <!--  Rendering view for search -->
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Search for food item</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <form action="<%= search_path %>" method="get">
                  <%= text_field_tag(:search, params[:search], placeholder: "Search food item", autofocus: true, class: "form-control mr-sm-2" ) %>
                  <%= button_tag(type: :submit, class: 'btn btn-outline-success my-2 my-sm-0') do %>
                  Search
                  <% end %>
                </form>
              </td>
              <th scope="col">Amount</th>
              <th scope="col">Protein</th>
              <th scope="col">Fat</th>
              <th scope="col">Carbs</th>
              <th></th>
            </tr>
            <tr>
              <%= render "application_partials/search_results" %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-2">
      <!-- Rendering view for Daily Summary Card  -->
      <%= render 'application_partials/daily_summary_card' %>
    </div>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row" style="background-color: #5dae5c">
    <%= render 'application_partials/daily_meal_card' %>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row">
    <%= render 'application_partials/daily_meal_card' %>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row" style="background-color: #5dae5c">
    <%= render 'application_partials/daily_meal_card' %>
  </div>
</div>
