<div class="container-fluid">
  <div class="row header-row">
    <div class="col-8">
      <!--  Rendering view for search -->
      <div class="table-responsive-sm">
        <%= render 'application_partials/search' %>
      </div>
    </div>
    <div class="col-2">
      <!-- Rendering view for Daily Summary Card  -->
      <%= render 'application_partials/daily_summary_card' %>
    </div>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row" style="background-color: #5dae5c">
    <%= render 'application_partials/daily_meal_card' %>
    <%= render 'application_partials/daily_meal_card' %>
    <%= render 'application_partials/daily_meal_card' %>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row">
    <%= render 'application_partials/daily_meal_card' %>
  </div>
  <!-- Daily Row  -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- -- -- -- ---->
  <div class="row daily-row" style="background-color: #5dae5c">
    <%= render 'application_partials/daily_meal_card' %>
  </div>
</div>
