  <div class="modal-dialog" role="document">
    <%= form_for :create_item, :url => create_item_url, :method => 'post' do |f| %>
    <div class="modal-content" id="create-food-item-modal">
      <div class="modal-header">
        <h5 class="modal-title">Create Food item +</h5>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col">
            <p class="modal-item-text">Food name:</p>
            <p class="modal-item-text">Protein per 1g:</p>
            <p class="modal-item-text">Fat per 1g:</p>
            <p class="modal-item-text">Carbs per 1g:</p>
          </div>
          <div class="col">
            <%= f.text_field :name, class: 'form-control', value: params[:search] %>
            <%= f.text_field :protein, class: 'form-control', placeholder: "Protein" %>
            <%= f.text_field :fat, class: 'form-control', placeholder: "Fat" %>
            <%= f.text_field :carbs, class: 'form-control', placeholder: "Carbs" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save Changes", class: "btn btn-secondary close-modal" %>
        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
    <% end %>
  </div>
