<!-- Too much logic for partial? maybe. -->
<% if @macro.nil? %>
  <% if params[:search].blank? %>
    <td></td>
  <% else %>
    <td>
      Sorry, I couldnt find "<%= params[:search] %>"
      <button type="button" class="btn btn-success">+ create item?</button>
    </td>
  <% end %>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
<% else %>
  <td><%= @macro.name %></td>
  <td>1g</td>
  <td><%= @macro.protein %></td>
  <td><%= @macro.fat %></td>
  <td><%= @macro.carbs %></td>
  <td><button type="button" class="btn btn-success">+ Add item</button></td>
<% end %>
