<!-- Too much logic for partial? maybe. -->
<% if @macro.nil? %>
  <% if params[:search].blank? %>
    <td>
    </td>
  <% else %>
    <td>
      <%= form_tag('/create_item', method: :get, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#food-search-nav') %>
      Sorry, I couldnt find "<%= params[:search] %>"
      <%= submit_tag('+ create item?', class: 'btn btn-success')%>
    </td>
  <% end %>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
<% else %>
  <td><%= @macro.name %></td>
  <td>1g</td>
  <td><%= @macro.protein %></td>
  <td><%= @macro.fat %></td>
  <td><%= @macro.carbs %></td>
  <td><button type="button" class="btn btn-success">+ Add item</button></td>
<% end %>

<div class="modal fade" id="food-search-nav" role="dialog" aria-labelledby="myModalLabel">

</div>
