<%= javascript_include_tag('modal.js') %>
<% if @macro.nil? %>
  <% if params[:search].blank? %>
    <td>
    </td>
  <% else %>
    <td>
      <%= form_tag('/create_item', method: :get, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#create-item-modal') %>
      Sorry, I couldnt find "<%= params[:search] %>"
      <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#meow">+ create item?</button> -->
      <%= submit_tag('+ create item?', class: 'btn btn-success', 'data-toggle': "modal", 'data-target': "#create-item-modal") %>
    </td>
  <% end %>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
<% else %>
  <td><%= @macro.name %></td>
  <td>1g</td>
  <td><%= @macro.protein %></td>
  <td><%= @macro.fat %></td>
  <td><%= @macro.carbs %></td>
  <td>
  </td>
  <td>
    <label class="checkbox-inline" id="low-carb-radio">
      <input type="checkbox" name="options" > Low Carb
    </label>
    <label class="checkbox-inline" id="no-carb-radio">
      <input type="checkbox" name="options"> No Carb
    </label>
    <label class="checkbox-inline" id="high-carb-radio">
      <input type="checkbox" name="options"> High Carb
    </label>
    <button type="button" class="btn btn-success">+ Add item</button>
  </td>
<% end %>

<div class="modal fade hide" id="create-item-modal" tabindex="-1" role="dialog" aria-hidden="true">

</div>
