<table class="table">
  <thead>
    <tr>
      <th scope="col">Search for food item</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <form class="form-inline">
          <%= form_tag(controller: "search", action: "search_fn", method: "get", class: "nifty_form") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
          <% end %>
        </form>
      </td>
      <th scope="col">Amount</th>
      <th scope="col">Protein</th>
      <th scope="col">Fat</th>
      <th scope="col">Carbs</th>
      <th></th>
    </tr>
    <tr>
      <%= render "application_partials/search_results" %>
    </tr>
  </tbody>
</table>
