<%= javascript_include_tag('search_actions.js') %>

<% if @macro.nil? %>
  <% if params[:search].blank? %>
    <td>
    </td>
  <% else %>
    <td>
      <form>
        Sorry, I couldnt find  "<%= params[:search] %>"
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          + create item?
        </button>
      </form>
    </td>
  <% end %>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
  <td>0g</td>
<% else %>
  <td><%= @macro.name %></td>
  <td>1g</td>
  <td><%= @macro.protein %></td>
  <td><%= @macro.fat %></td>
  <td><%= @macro.carbs %></td>
  <td>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary macro-type-button">Low Carb</button>
      <button type="button" class="btn btn-secondary macro-type-button">No Carb</button>
      <button type="button" class="btn btn-secondary macro-type-button">High Carb</button>
    </div>
  </td>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= render 'application_partials/create_item' %>
</div>
